.theme-dark{
  --color-primary: #282828;
  --color-secondary: #E8E8E8;
  --color-shadow: #101010;
  --color-gradient: linear-gradient(90deg, rgba(32,32,32,1) 15%, rgba(40,40,40,1) 65%, rgba(56,56,56,1) 100%);
  --label-background: #D00000;
  --output-shadow: #000000;
  --output-background: #DCDCDC;
  --red-keys: #A00000;
  --shadow--spread: 15px;
  --color-item: rgb(37,37,37);
  --output-offset : 5px
}
.theme-light{
  --color-primary: 	#E0E0E0 ;
  --color-secondary: #282828;
  --color-shadow: 	#C0C0C0;
  --color-gradient:linear-gradient(45deg, rgba(200,200,200,1) 17%, rgba(232,232,232,1) 85%, rgba(245,245,245,1) 92%)  ;
  --shadow--spread: 10px;
  --red-keys:  #D00000;
  --color-item: rgb(215,215,215);
  --color-shadow: 		#A0A0A0;    
  --output-background: #D0D0D0;
  --output-shadow: 		#585858;
  --output-offset : 2px;

}


body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background-color: var(--color-primary);
    font-size: 20px;
    color: var(--color-secondary);
  
}
::selection {

  background-color: 	var(--color-primary);
}
.heading{
    position: relative;
    font-family: 'PT Serif', serif;
    top: 27px;
    left: 600px;
    width: 400px;
    height: 95px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0px 0px var(--shadow--spread) 5px var(--color-shadow);
   padding-top: 1px;
   padding-bottom: 10px;
   text-transform: uppercase;
   letter-spacing: 6px;
   background: var(--color-gradient);
}
.moreFunctions{
  display: none;
}

input[type=checkbox]{
	height: 0;
	width: 0;
  visibility: hidden;
}

.theme{
  position: absolute;
  right: 90px;
  top: 10px;
}

.theme label {
  
	cursor: pointer;
	width: 75px;
	height: 23px;
  background-color: #DCDCDC;
	display: block;
	border-radius: 50px;
  position: relative;
 
}

.theme label:after {
	content: '';
	position: absolute;
  left: -1px;
  top: -7px;
	width: 38px;
	height: 38px;
  background: #101010 url('https://i.ibb.co/FxzBYR9/night.png') center no-repeat;
	border-radius: 50px;
	transition: 0.6s;
}

.theme input:checked + label {
  background-color: 		#888888;
  
}

.theme input:checked + label:after {
	left: calc(100% );
  transform: translateX(-100%);
  background: #383838 url('https://i.ibb.co/7JfqXxB/sunny.png') center no-repeat;
}

.theme label:active:after {
  width: 38px;
  height: 38px;
}

.output{
    position: relative;
    top: 230px;
    left: 50%;
    transform: translate(-50%, -50%);
   width: 99%;
    height: 200px;
  background-color: var(--output-background);
  border-radius: 10px;
  box-shadow: inset 0 0 10px var(--output-offset) var(--output-shadow);
  border:2px solid var(--output-shadow);
}

#input,#result{
  color: #101010;
  position:absolute;
  top: 160px;
  right: 20px;
  font-size: 130%;
  font-weight: 300;
}

.side-functions{
  position: absolute;
  top: 456px;
  left: 5px;
  width: 27%;
  display: grid;
  grid-column-gap: 20px;
 grid-row-gap: 5px;
 grid-template-columns: auto auto auto ;
}

.main-functions{
    position: absolute;
    top: 456px;
   right: 5px;
   width: 70%;
   display: grid;
   grid-column-gap: 20px;
   grid-row-gap: 5px;
   grid-template-columns: auto auto auto auto;
   
}
.grid-item {
   
    padding: 15px;
    text-align: center;
    border-radius: 5px;
    background-color: var(--color-item);
    box-shadow: 0px 0px 5px 1px var(--color-shadow);
    cursor: pointer;
  }
  .grid-item0{
   
    cursor: pointer;
    padding: 15px;
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 3;
    border-radius: 5px;
    background-color: var(--color-item);
    box-shadow: 0px 0px 5px 1px var(--color-shadow);
   
  }

.grid-itemAC,
.grid-itemequal{
   
  cursor: pointer;
  padding: 15px;
  text-align: center;
  background-color: 	var(--red-keys);
  border-radius: 5px;
  box-shadow: 0px 0px 5px 1px var(--color-shadow);
}


.grid-item:hover{
  padding: 15px;
  text-align: center;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 1px var(--color-shadow);
  cursor: pointer;
}
.grid-item0:hover{
   
  cursor: pointer;
  padding: 15px;
  text-align: center;
  grid-column-start: 1;
  grid-column-end: 3;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 1px var(--color-shadow);
 
}
.grid-itemAC:hover,
.grid-itemequal:hover{
   
  cursor: pointer;
  padding: 15px;
  text-align: center;
  background-color: 	var(--red-keys);
  border-radius: 5px;
  box-shadow: 0px 0px 10px 3px var(--color-shadow);
}

.grid-item:active{
   padding: 15px;
    text-align: center;
    border-radius: 5px;
    background-color: var(--color-item);
    box-shadow: 0px 0px 2px 0px var(--color-shadow);
    cursor: pointer;
}
.grid-itemAC:active,
.grid-itemequal:active{

  cursor: pointer;
  padding: 15px;
  text-align: center;
  background-color: 	var(--red-keys);
  border-radius: 5px;
  box-shadow: 0px 0px 2px 0px var(--color-shadow);
}
.grid-item0:active{
  cursor: pointer;
  padding: 15px;
  text-align: center;
  grid-column-start: 1;
  grid-column-end: 3;
  border-radius: 5px;
  background-color: var(--color-item);
  box-shadow: 0px 0px 2px 0px var(--color-shadow);
}




@media only screen and (max-width:768px){
  .heading{
    left: 200px;
    height: 70px;
    width: 350px;
    letter-spacing: 4px;
    
    padding-top: 0px
  }
  .heading h1{
    margin-top: 0px;
    padding-top: 15px;
  }
  .theme{
    top: 8px;
    right: 40px;
  }

 .moreFunctions .material-icons{
  font-size:36px;
 }
  .moreFunctions{ 
   position: absolute;
   top: 9px;
   left: 30px;
    display: inline; 
  }
  .moreFunctions label{
    display: block;
    width: 35px;
    height: 25px;
    padding: 2px 8px 14px 9px;
    box-shadow: 0px 2px 4px  var(--output-shadow),
    0px 1px 6px  var(--output-shadow);
    background-color: var(--color-item);
    border-radius: 5px; 
    cursor: pointer;
  } 
  .moreFunctions input:checked +label{
      color: var(--red-keys);
      box-shadow: inset -1px -1px 4px var(--output-shadow),
      inset 1px 1px 3px var(--output-shadow);
  }
  
 .theme label{
  width: 55px;
  height: 18px;
  }
 .theme label:after{
    top: -4px;
    left: 0px;
    width: 24px;
    height: 24px;
    background: #101010 url('https://i.ibb.co/FxzBYR9/night.png')  no-repeat;
    background-size: contain;
  }
 .theme label:active:after{
    width: 20px;
    height: 20px;
  }
  
  .output{
    top: 270px;
    width: 98%;
    height: 150px;
  }
 
  #input,#result{
   top: 120px;
   font-size: 115%;
  }
  #content{
    position: relative;
    top: 1px;
  }
  .main-functions{
    right: 7px;
    top: 445px;
    width: 98%;
    column-gap: 14px;
  }
  .side-functions{
    display: none;    
  }
}

@media only screen and (max-width: 600px) {
  .heading{
    left: 130px;
    height: 60px;
  }
  .heading h1{
    margin-top: 0px;
    padding-top: 10px;
  }
  .theme{
    top: 8px;
    right: 20px;
  }
  }
@media only screen and (max-width: 500px){

  .heading{
    left: 100px;
    height: 50px;
    width: 300px;
  }
  .heading h1{
    letter-spacing: 2;
    font-size: 30px;
  }
  .moreFunctions .material-icons{
    font-size: 30px;
  }

  .moreFunctions{
    left: 10px;
  }
  .moreFunctions label{
    display: block;
    width: 25px;
    height: 20px;
    padding: 4px 10px 10px 5px;
  }

  .theme{
    right: 10px;
  }
  .theme label{
    width: 47px;
    height: 15px;
    }
   .theme label:after{
      top: -3px;
      left: 0px;
      width: 21px;
      height: 21px;
      background: #101010 url('https://i.ibb.co/FxzBYR9/night.png')  no-repeat;
      background-size: contain;
    }
   .theme label:active:after{
      width: 21px;
      height: 21px;
    }
}

@media only screen and (max-width: 400px){

  .heading{
    left: 80px;
    height: 40px;
    width: 230px;
  }
  .heading h1{
    letter-spacing: 1;
    font-size: 25px;
  }
}


 




